<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} – Robynn Corveleyn </title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script>
    function unhide(divID) {
      var item = document.getElementById(divID);
      if (item) {
        item.className = (item.className=='hidden')?'unhidden':'hidden';
      }
    }
  </script>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">About</a></li>
        <li><a href="{{ '/publications/' | relative_url }}">Publications</a></li>
        <li><a href="{{ '/outreach/' | relative_url }}">Outreach</a></li>
        <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
  {{ content }}
  </main>

  <footer>
    <p>© <span id="year"></span> Robynn Corveleyn. All rights reserved.</p>
  </footer>
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
</body>
</html>
