<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <!-- Adjust to device settings -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  
    <!-- SEO Commands -->
  <meta name="description" content="{{ page.description | default: 'Robynn Corveleyn – personal homepage with publications, information about outreach activities, and contact information.' }}">
  <meta name="keywords" content="Robynn Corveleyn, homepage, math, UCLouvain, group theory, outreach, research">
  <meta name="author" content="Robynn Corveleyn">

  <title>{{ page.title }} – Robynn Corveleyn </title>
  
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link href="{{ '/assets/css/lightbox.css' | relative_url }}" rel="stylesheet" />
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script>
    function unhide(divID) {
      var item = document.getElementById(divID);
      if (item) {
        item.className = (item.className=='hidden')?'unhidden':'hidden';
      }
    }
  </script>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">About</a></li>
        <li><a href="{{ '/publications/' | relative_url }}">Publications</a></li>
        <li><a href="{{ '/outreach/' | relative_url }}">Outreach</a></li>
        <li><a href="{{ '/CV/' | relative_url }}">CV</a></li> 
        <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
      </ul>
    </nav>
    <button id="theme-toggle">Dark Mode</button>
  </header>

  <main>
  {{ content }}
  </main>

  <footer>
    <p>Last updated: September 2025 © Robynn Corveleyn.</p>
  </footer>
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
<script src="{{ '/assets/js/lightbox-plus-jquery.js' | relative_url }}"></script>
</body>
</html>
